<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA_Compatible" content="ie=edge">
	<title>Node FIle Upload</title>
</head>
<body>
	<h3>File Upload With Multer</h3>
	<%= typeof msg != 'undefined'? msg : '' %>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<input type="file" name="myImage" />
		<input type="submit" value="confirm">
	</form>
	<br>
	<img src="<%= typeof file != 'undefined' ? file :'' %>" class='img-responsive' alt="">
</body>
</html>