<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA_Compatible" content="ie=edge">
	<title>Node FIle Upload</title>
</head>
<body>
	<h3 style="color: #f60;">File Upload With Multer</h3>
	<hr>
	<p style="color:red;"><%= typeof msg != 'undefined'? msg : '' %></p>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<span style="font-size: 12px;">选择图片</span>:<input type="file" name="myImage" /> <br>
		<input type="submit" value="确认上传" style="background: green;color: #fff;cursor: pointer;">
	</form>
	<br>
	<img src="<%= typeof file != 'undefined' ? file :'' %>" class='img-responsive' alt="">
</body>
</html>